# MONGO
export MONGO_ADDRESS=127.0.0.1:27017
export MONGO_USER=root
export MONGO_PASS=example
export MONGO_DATABASE=sample

# POSTGRES
export PG_DB_USER=postgres
export PG_DB_PASS=example
export PG_DB_ADDR=127.0.0.1
export PG_DB_PORT=5432
export PG_DB_NAME=sample

# CLOUDFLARE
export CLOUDFLARE_AUTHKEY=xxxxxxxxxxxxxxxx
export CLOUDFLARE_EMAIL=xxxxxx@xxxxxx.xxx

# GREYCDN
export GREYCDN_TOKEN=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# VERIZON CDN
export VERIZON_CDN_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export VERIZON_CDN_ACCOUNT_NUMBER=XXXXX
