export ETCD_CONNECT_INFO=http://localhost:2379

export MONGO_ADDRESS=127.0.0.1:27017
export MONGO_USER=root
export MONGO_PASS=example
export MONGO_DATABASE=sample

export JWT_TOKEN_HEADER=Example
export JWT_REALM=EXAMPLE_API
export JWT_KEY=EXAMPLE_API_KEY
